.menu-wrapper {
    display: flex;
    justify-content: center;
    width: 1fr;
    justify-content: space-evenly;
    background-color: grey;
    
}

.menu {
    display: flex;
    justify-content: space-between;
}